/* Background */

.cotn {
    background-image: radial-gradient(#ffffff, #00000000);
    padding: 5%;
    border-radius: 120px;
}

.cotn-1 {
    width: 100%;
    background-image: radial-gradient(#ffffff, #00000000);
    border-radius: 120px;
    padding: 30px;
}

.table {
    background-image: radial-gradient(#ffffff, #00000000);
    padding: 3% 0;
    border-radius: 120px;
    font-size: small;
    text-align: left;
}

form p {
    text-align: left;
}


/* Background end */


/* Button */

.cotn-btn {
    width: 100%;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cotn-btns {
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    font-family: 'MonteCarlo', cursive;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

button {
    outline: none !important;
    border: none;
}

button:hover {
    background-color: rgb(255, 38, 38);
}


/* Button end */


/* input */

input {
    outline: none;
    border: none;
}

.inp-div {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 26px;
    font-family: 'MonteCarlo', cursive;
}

.inp-span {
    font-family: 'MonteCarlo', cursive;
    font-size: 20px;
    font-weight: 600;
    color: rgb(20, 20, 20);
    line-height: 1.2;
    text-align: right;
    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;
}

.inp {
    font-family: 'MonteCarlo', cursive;
    font-size: 20px;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: 0 0;
    padding: 0 5px;
}

input.inp {
    height: 45px;
}

textarea.inp {
    min-height: 115px;
    padding-top: 14px;
    padding-bottom: 13px;
    outline: none;
    border: none;
    font-size: large;
}

#mySelect {
    width: 100%;
    height: 40px;
    border: hidden;
    color: gray;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'MonteCarlo', cursive;
    font-size: 20px;
    text-overflow: ellipsis;
}

#mySelects {
    width: 100%;
    height: 40px;
    border: hidden;
    color: gray;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'MonteCarlo', cursive;
    font-size: medium;
    text-overflow: ellipsis;
}

#mySelectss {
    width: 100%;
    height: 40px;
    border: hidden;
    color: gray;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'MonteCarlo', cursive;
    font-size: medium;
    text-overflow: ellipsis;
}

#demo {
    font-family: 'MonteCarlo', cursive;
    font-weight: 600;
    font-size: large;
    color: rgb(43, 255, 0);
}

#demos {
    font-family: 'MonteCarlo', cursive;
    font-weight: 600;
    font-size: large;
    color: rgb(43, 255, 0);
}

.font {
    font-family: 'MonteCarlo', cursive;
    font-weight: 600;
    font-size: large;
    color: rgba(251, 25, 25, 0.659);
}


/* input end */

fieldset {
    border: 2px solid rgb(87, 220, 211);
    /* border-radius: 20px; */
}

legend {
    color: rgb(50, 95, 202);
    /* border: 2px solid rgb(87, 220, 211);
    border-radius: 15px; */
    padding: 0 20px 0 20px;
    text-align: center;
}


/* form */

.cont-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 88px 57px 190px;
}


/* form end */

.secheader {
    text-align: center;
    width: 80%;
    display: inline-block;
    text-transform: uppercase;
    background: linear-gradient(to right, #00000000, #ffffff, #ffffff, #00000000);
    /* font-family: 'Lemonada', sans-serif; */
    font-size: 20px !important;
}

.stickhe {
    width: 100%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 3px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #00000000, rgb(255, 33, 33), rgb(255, 0, 255), blue, green, rgb(255, 238, 0), #00000000);
}


/* fb_comments */